<link rel="stylesheet" href="/css/index/font-awesome.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>
<nav>
  <a href="/">
    <img
      class="logodscmainnavmobile"
      src="/img/logo/DSC-trans-new.png"
      alt="favicon"
  /></a>
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <div class="mobilesearch">
    <input
      class="search-input"
      id="search2"
      type="text"
      placeholder="Search Developers"
      autofocus
    />
    <div class="search" id="srh2">
      <ul class="search-view" id="search_list2">
        <% found.forEach((user)=>{ %>
        <li id="collection-item2" class="collection-item2">
          <a
            href="/user/public-profile/<%= user.dscHandle%> "
            class="usersearch"
            style="text-decoration: none; display: block"
          >
            <p><%= user.name%></p></a
          >
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="wrap" id="navwrap">
    <div class="nav-warapper">
      <a href="/">
        <img
          class="logodscmainnav"
          src="/img/logo/DSC-trans-new.png"
          alt="favicon"
      /></a>
      <li class="nav-item"><a href="/" class="nav-items-a">Home</a></li>
      <li class="nav-item">
        <a href="/#about" class="nav-items-a">About Us</a>
      </li>
      <li class="nav-item">
        <a href="/project/" class="nav-items-a">Projects</a>
      </li>
      <li class="nav-item">
        <a href="/#schedule" class="nav-items-a">Events</a>
      </li>
      <li class="nav-item">
        <a href="/blog?page=1" class="nav-items-a">Blogs</a>
      </li>
    </div>
    <div class="nav-warapper">
      <input
        class="search-input"
        id="search1"
        type="text"
        placeholder="Search Developers"
        autofocus
        style=" border-top:0 ; border-left:0; border-right: 0; border-radius:0 ; "
      />
      <div class="search" id="srh1">
        <ul class="search-view" id="search_list1">
          <% found.forEach((user)=>{ %>
          <li id="collection-item1" class="collection-item1">
            <a
              href="/user/public-profile/<%= user.dscHandle%> "
              class="usersearch"
              style="text-decoration: none; display: block"
            >
              <% if(user.profileImageLocation!=null){ %>
              <img
                src="/upload<%= user.profileImageLocation%>"
                alt="Profile Image"
              />
              <% }else{%> <img src="/img/logo/profile.png" alt="avatar" /> <%
              }%>
              <p><%= user.name%></p></a
            >
          </li>
          <% }) %>
        </ul>
      </div>

      <% if(!user){ %>
      <li class="nav-item rightbox">
        <a href="/user/register?type=login" class="nav-items-a signupnav">Login</a>
        <input type="checkbox" class="checkbox" id="chk" />
        <label class="label" for="chk">
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
          <div class="ball"></div>
        </label>
      </li>
      <% }else{ %>
      <li class="nav-item rightbox" style="width: 70%">
        <div class="dropdown" id="dropper">
          <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
          <a href="#" class="mobilenavname"> <%- user.name.split(' ')[0]%></a>
          <div class="dropdown-content" id="dropdown-content">
            <a href="/user/profile">Profile</a>
            <a href="/user/logout">Logout</a>
          </div>
        </div>
        <input type="checkbox" class="checkbox" id="chk" />
        <label class="label" for="chk">
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
          <div class="ball"></div>
        </label>
      </li>
      <% } %>
    </div>
  </div>
</nav>
