<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />
    <meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar" />
    <title>DSC NITS | Blogs</title>
    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/img/logo/dsc_logo.png"
  />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/css/blogs/all.css" />
    <link rel="stylesheet" href="/css/index/font-awesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/css/blogs/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/blogs/owl.theme.default.min.css" />

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/css/blogs/aos.css" />

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/blogs/Style.css" />
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
  </head>

  <body id="bodydiv">
    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <%-include('partials/navbar')%>
    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>

    <main>
      <!-- ------------- Filter ---------------- -->

      <div class="filter">
        <div class="sort-by filter-item">Sort By:</div>
        <div class="newest filter-item">
          <button class="sort-btn">Newest First</button>
        </div>
        <div class="top-rated filter-item">
          <button class="sort-btn">Top Rated</button>
        </div>
        <div class="blog-search filter-item">
          <div class="blog-wrap">
            <div class="blog-search">
              <input
                type="text"
                class="blog-searchTerm"
                placeholder="Search by Blog Title..."
              />
              <button type="submit" class="blog-searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

 

      <section class="container">
        <div class="site-content">
          <div class="posts">
            <% newBlogs.forEach((blog)=>{ %>
            <div class="post-content" data-aos="fade-up" data-aos-delay="200">
              <div class="post-image">
                <div>
                  <img src="<%= blog.cover %>" class="img" alt="blog cover" />
                </div>
                <div class="post-info flex-row">
                  <span
                    ><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;<%=
                    blog.author.name%></span
                  >
                  <span
                    ><i class="fas fa-calendar-alt text-gray"></i
                    >&nbsp;&nbsp;<%= blog.updatedAt.toLocaleString() %></span
                  >
                  <span
                    ><i class="fas fa-star"></i>&nbsp;&nbsp;<%=
                    blog.ratingAverage %>
                  </span>
                </div>
              </div>
              <div class="post-title">
                <a href="#"><%= blog.title %></a>
                <p><%= blog.summary %></p>
                <a href="/blog/view/<%= blog.slug %>"
                  ><button class="btn post-btn">
                    Read More &nbsp; <i class="fas fa-arrow-right"></i></button
                ></a>
              </div>
            </div>
            <% }) %>
            <hr />
   
          </div>
          <aside class="sidebar">
            <div class="category">
              <h2>Category</h2>
              <ul class="category-list">
                <li
                  class="list-items"
                  data-aos="fade-left"
                  data-aos-delay="100"
                >
                  <a href="#">Web Development</a>
                  <span>(<%= blogsCount.webDev %>)</span>
                </li>
                <li
                  class="list-items"
                  data-aos="fade-left"
                  data-aos-delay="200"
                >
                  <a href="#">Android Development</a>
                  <span>(<%= blogsCount.androidDev %>)</span>
                </li>
                <li
                  class="list-items"
                  data-aos="fade-left"
                  data-aos-delay="300"
                >
                  <a href="#">UI/UX Design</a>
                  <span>(<%= blogsCount.graphicDesign %>)</span>
                </li>
        
              </ul>
            </div>
            <div class="popular-post">
              <h2>Popular Post</h2>
              <% popularBlogs.forEach((blog)=>{ %>
              <div class="post-content" data-aos="fade-up" data-aos-delay="200">
                <div class="post-image">
                  <div>
                    <img src="<%= blog.cover %>" class="img" alt="blog cover" />
                  </div>
                  <div class="post-info flex-row">
                    <span
                      ><i class="fas fa-calendar-alt text-gray"></i
                      >&nbsp;&nbsp;<%= blog.updatedAt.toLocaleString() %></span
                    >
                    <span
                      ><i class="fas fa-star"></i>&nbsp;&nbsp;<%=
                      blog.ratingAverage %></span
                    >
                  </div>
                </div>
                <div class="post-title">
                  <a href="#"><%= blog.title %></a>
                </div>
              </div>
              <% }) %>
           
            </div>
          
          </aside>
        </div>
      </section>

      <!-- -----------x---------- Site Content -------------x------------>
    </main>

    <!---------------x------------- Main Site Section ---------------x-------------->

    <%-include('partials/footer')%>

    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file -->
    <script src="/js/blogs/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="/js/blogs/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="/js/blogs/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="/js/navbar.js"></script>
    <script src="/js/blogs/main.js"></script>
    <script src="/js/darkmode.js"></script>
    <!-- Navbar JS -->

    <script>
      var bodydiv = document.getElementById("bodydiv");
      bodydiv.addEventListener("click", closeSearch);
      function closeSearch() {
        let search_list1 = document.getElementById("search_list1");
        search_list1.style.display = "none";
        let search_list2 = document.getElementById("search_list2");
        search_list2.style.display = "none";
      }
    </script>
  </body>
</html>
