<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments."
    />
    <meta
      name="keywords"
      content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar"
    />
    <title>DSC NITS | Blogs</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_trans_logo.png"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/css/blogs/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/profile/profile_dashboard.css" />
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/blogs/blogs.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <style>
      .cards .card .content .images .image-container img {
        width: 100%;
      }
      .cards .card .content .images {
        width: 90%;
      }
      .pagination {
        padding: 3rem 0;
        text-align: center;
        color: var(--Grey-light-1);
      }

      .pagination a {
        padding: 1rem 0.8rem;
        color: var(--primary-dark);
        background-color: var(--Grey-dark-1);
        transition: all 0.2s;
      }

      .pagination a:hover {
        opacity: 0.8;
      }
    </style>
  </head>

  <body style="font-family: 'Times New Roman', Times">
    <!-- ----------------------------  Navigation ---------------------------------------------- -->
    <%-include('partials/navbar')%>
    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>
    <main>
      <section class="cards">
        <% if(newBlogs.length==0){%>

        <div class="card-container" style="justify-content: center">
          <div class="card-details">
            <div class="card-text">
              <p style="text-align: center">
                Community Blogs will be shown here.
              </p>
            </div>
          </div>
        </div>
        <% }%> <% var num =0 %> <% newBlogs.forEach(function(blog){%>
        <div class="card">
          <div class="socialactivity">
            <% if(blog.author.profileImageLocation){ %>
            <img
              src="/upload/<%= blog.author.profileImageLocation%>"
              alt="author image"
            />
            <% }else{%>
            <img src="/img/profile/person.png" alt="default avatar" />
            <% }%>

            <button
              type="submit"
              style="
                border: none;
                background-color: transparent;
                color: var(--Grey-dark-1);
              "
            >
              <% if (user) {%> <% if (user.likes &&
              user.likes.includes(blog._id)) {%>
              <img src="/img/logo/clap.png" style="width: 30px" alt="" />
              <br /><%= blog.appreciateCount || 0%> <% } else {%>
              <img src="/img/logo/noclap.png" style="width: 30px" alt="" />
              <br /><%= blog.appreciateCount || 0%> <% } %> <% } else{%>
              <img src="/img/logo/noclap.png" style="width: 30px" alt="" />
              <br /><%= blog.appreciateCount || 0%> <% } %>
            </button>
          </div>
          <div class="content">
            <h3 class="topic"><%= blog.title %></h3>
            <p style="margin-top: 0.2rem">by <%= blog.author.name%></p>
            <p class="place" style="font-family: 'Times New Roman', Times">
              <%- blog.author.createdAt.toString().substring(0,16)%>
            </p>

            <div class="description"><%- blog.summary%>...</div>
            <a href="/blog/view/<%= blog.slug%>">Read more</a>
            <div class="images">
              <div class="image-container">
                <img
                  class="post-images"
                  src="<%= blog.cover%>"
                  alt="blog cover"
                  data-original="<%= blog.cover%>"
                />
              </div>
            </div>
          </div>
          <div class="sidebarblog">
            <% if (user) {%>
            <div class="moreblogoption">
              <form action="/blog/bookmark/<%= blog._id %>" method="POST">
                <button
                  type="submit"
                  style="background-color: transparent; border: none"
                >
                  <% if (user.bookmarkBlogs
                  &&user.bookmarkBlogs.includes(blog._id)) {%>
                  <i
                    class="fas fa-bookmark"
                    style="font-size: 20px; color: var(--Grey-dark-1)"
                  ></i>
                  <% } else {%>
                  <i
                    class="far fa-bookmark"
                    style="font-size: 20px; color: var(--Grey-dark-1)"
                  ></i>
                  <% } %>
                </button>
              </form>
            </div>
            <% } %>

            <i
              class="fas fa-eye"
              style="font-size: 15px; color: var(--Grey-dark-1)"
            >
              <%= blog.views %></i
            >
          </div>
        </div>
        <%})%>
      </section>
      <section class="blog-search" style="padding-left: 0%; margin-left: 0%">
        <% if(user){ %>
        <div class="inner-search">
          <div class="blog-search-row">
            <a href="/blog/bookmarks" style="text-decoration: none">
              <div class="fndp">Your Bookmarks</div>
            </a>
          </div>
          <div class="blog-search-row">
            <a href="/blog/create" style="text-decoration: none">
              <div class="fndp">Create Blog</div>
            </a>
          </div>
        </div>
        <% }else{ %>
        <div class="inner-search">
          <div class="blog-search-row">
            <a href="/user/register?type=login" style="text-decoration: none">
              <div class="fndp">Login to Add a Blog</div>
            </a>
          </div>
        </div>
        <% } %>
      </section>
      <section class="popular">
        <% var i=1 %>
        <div id="popular-post">
          <h2 id="heading">Popular Posts</h2>
          <div>
            <hr />
            <br />
            <% if(popularBlogs.length==0){%>
            <div class="popular-posts">
              <div class="content">
                <p>Nothing to show.</p>
              </div>
            </div>

            <% }%> <% popularBlogs.forEach(function(blog){%>
            <div class="popular-posts">
              <div class="content">
                <div class="title">
                  <span class="numbering"> <%= i++ %> </span>
                  <a
                    style="font-family: 'Open Sans', sans-serif"
                    href="/blog/view/<%= blog.slug%>"
                  >
                    <%= blog.title%>
                  </a>
                </div>
                <br />
                <span class="intro"> <%- blog.summary%>...</span>
                <a href="/blog/view/<%= blog.slug%>">Read more</a>
                <br />
                <span class="date"> 20 sept, 2020 </span>
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </section>
    </main>
    <div class="pagination">
      <% if(page !== 1) {%>
      <a href="/blog/?page=<%= page-1 %>"> Prev Page</a>
      <% } %> <% if (nextPageExists) { %>
      <a href="/blog/?page=<%= page + 1 %>">Next Page</a>
      <% } %>
    </div>
    <!---------------x------------- Main Site Section ---------------x-------------->

    <!-- --------------------------- Footer ---------------------------------------- -->
    <%-include('partials/footer')%>

    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file -->
    <script src="/js/blogs/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="/js/blogs/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="/js/blogs/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="/js/navbar.js"></script>
    <script src="/js/blogs/main.js"></script>
    <script src="/js/darkmode.js"></script>
    <script>
      var bodydiv = document.getElementById("bodydiv");
      bodydiv.addEventListener("click", closeSearch);

      function closeSearch() {
        let search_list1 = document.getElementById("search_list1");
        search_list1.style.display = "none";
        let search_list2 = document.getElementById("search_list2");
        search_list2.style.display = "none";
      }
    </script>
  </body>
</html>
