<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DSC-Blogs</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/css/blogs/all.css" />
    <link rel="stylesheet" href="/css/index/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/css/blogs/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/blogs/owl.theme.default.min.css" />

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/css/blogs/aos.css" />

    <!-- Custom Style   -->
    <link rel="styleseet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/blogs/bookmarks.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
    </he ad>

    <body id="">
        <!--     ----------------------------  Navigation ---------------------------------------------- -->
        <%-include('partials/navbar')%>
            <!-- ------------x---------------  Navigation --------------------------x------------------- -->

            <!----------------------------- Main Site Section ------------------------------>
            <main class="main">
                <h1 class="head">Welcome
                    <%=user.name%>..Here are your bookmarks</h1>

                <% bookmarks.forEach(function(blog){%>
                    <div id="card-container">
                        <div class="card-product-image">
                            <div class="card-prod-img">
                                <img src="<%=blog.image%>" alt="Omar Dsoky" />
                            </div>
                        </div>
                        <div class="card-product-details">
                            <div>
                                <p>
                                    <%=blog.title%>
                                </p>

                                <%- blog.body.substring(0, 300)%>
                                    <div class="card-person">
                                        <div class="card-author">
                                            <img src="<%= blog.author.profileImageLocation%>" />
                                        </div>
                                    </div>
                                    <p>
                                        <%=blog.author.name%>
                                    </p>
                            </div>
                            <div>

                                <a href="#" style="float: right; margin-right: 20px">Read More...</a>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </main>

            <!---------------x------------- Main Site Section ---------------x-------------->

            <!-- --------------------------- Footer ---------------------------------------- -->
            <%-include('partials/footer')%>

                <!-- -------------x------------- Footr --------------------x------------------- -->

                <!-- Jquery Library file -->
                <script src="/js/blogs/Jquery3.4.1.min.js"></script>

                <!-- --------- Owl-Carousel js ------------------->
                <script src="/js/blogs/owl.carousel.min.js"></script>

                <!-- ------------ AOS js Library  ------------------------- -->
                <script src="/js/blogs/aos.js"></script>

                <!-- Custom Javascript file -->
                <script src="/js/navbar.js"></script>
                <script src="/js/blogs/main.js"></script>

                <script>
                    var bodydiv = document.getElementById("bodydiv");
                    bodydiv.addEventListener("click", closeSearch);

                    function closeSearch() {
                        let search_list1 = document.getElementById("search_list1");
                        search_list1.style.display = "none";
                        let search_list2 = document.getElementById("search_list2");
                        search_list2.style.display = "none";
                    }
                </script>
                </ body>

</html> { { { {}