<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Developer Students Club | NIT Silchar</title>
    <!-- ######################################################################## -->
    <!-- Stylings -->
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/index/index_animation.css" />
    <link rel="stylesheet" href="/css/index/index_dashboard.css" />
    <link rel="stylesheet" href="/css/index/index_about.css" />
    <link rel="stylesheet" href="/css/index/index_videos.css" />
    <link rel="stylesheet" href="/css/index/index_contactus.css" />

    <link rel="stylesheet" href="/css/index/font-awesome.css" />
    <link rel="stylesheet" href="/css/index/index_faq.css" />
    
    <link rel="stylesheet" href="/css/index/index_feature.css">
    <link
      rel="stylesheet"
      href="/css/index/index_event_schedule.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <!-- ######################################################################## -->

    <!---Icons Import-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- JQuery for navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="loaderr">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!--Navbar Starts-->
    <%-include('partials/navbar')%> 
    <!-- <nav class="nav">
      <img
        src="/img/logo/DSC_trans.png"
        alt="Logo"
        class="nav__logo"
      />
      <div class="nav__bar">
        <input type="button" class="nav__links" value="About" />
        <input type="button" class="nav__links" value="Gallery" />
        <input type="button" class="nav__links" value="Team" />
        <input type="button" class="nav__links" value="Projects" />
        
        
      </div>
    </nav> -->
    <!---Navbar Ends-->
    <!---Dashboard Section Starts-->
    <div>
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
          <!-- <div class="flash success"><%= flashMessages.success %></div> -->
          <div class="alert" id="success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flashMessages.success %>
          </div>
        <% } else if (flashMessages.error) { %>
          <div class="alert" id="error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flashMessages.error %>
          </div>
        <% } %>
      <% } %>
    </div>
    
    

    <header class="header">
      <img
        src="/img/logo/dsc_logo.png"
        alt="DSC_LOGO"
        class="dsclogo"
        id="dsclogo"
      />
      <h2 class="heading__secondary intersect" id="heading__secondary">
        Developer Students Club
      </h2>
      <h1 class="heading__primary" id="heading__primary">
        <span class="bold">NIT</span> Silchar
      </h1>
      <a href="/dsc/user/register"><input type="button" class="getStarted" id="getStarted" value="Login" /></a>
    </header>
      <button id="ScrolltoTop" class="ScrolltoTop">
        <i class="material-icons">arrow_upward</i>
      </button>
    
    <!---Dashboard Section Ends-->
    <!--About Us Section Starts-->
    <main class="main">
      <section class="about">
        <div class="background">
          <img
            src="/img/illustrations/about.png"
            alt=""
            class="background__image"
          />
        </div>
        <div class="content">
          <h1 class="heading__primary intersect">About</h1>
          <h2 class="heading__secondary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            dolorem officiis atque laboriosam quas quaerat quidem eius tempore
            corporis fugiat! Perferendis totam quos illo! Sed voluptatem
            necessitatibus ipsa mollitia ducimus rem exercitationem minima.
            Nulla rerum quam, soluta sed corrupti sint quisquam architecto modi
            blanditiis eos repudiandae, itaque provident enim nemo? Facere
            labore voluptatem natus sequi magni nostrum adipisci quo nam maxime!
            Cumque delectus magni adipisci quae atque alias provident aliquam
            pariatur quam laboriosam! Aliquid pariatur deleniti sunt,
            necessitatibus sapiente perferendis illum nam libero iusto
            exercitationem ab saepe fuga eveniet dolores id amet praesentium
            accusantium iste asperiores, beatae autem velit repudiandae?
          </h2>
        </div>
      </section>
      <!--About Us Section Ends-->

      <!--About DSC Section Starts-->
      <section class="about">
        <div class="content">
          <h1 class="heading__primary intersect">About DSC</h1>
          <h2 class="heading__secondary">
            Developer Student Clubs are university based community groups for
            students interested in Google developer technologies. Students from
            all undergraduate or graduate programs with an interest in growing
            as a developer are welcome. By joining a DSC, students grow their
            knowledge in a peer-to-peer learning environment and build solutions
            for local businesses and their community.
          </h2>
        </div>
        <div class="background">
          <img
            src="/img/illustrations/aboutdsc.jpg"
            alt=""
            class="background__image"
          />
        </div>
      </section>
      <!--About DSC Section Ends-->
            <!-- Feature Section -->
            <section class="features" id="features">
              <h1 id="feature-main-heading">Features</h1>
              <div class="feature-black" id="featured-black">
                  <div class="card feature-bg-black feature-card-expanded" id="feature-card-expanded" >
                      <div><a id="feature-close" ><i class="fas fa-close fa-2x"></i></a></div>
                  <div class="border featureWhite-border"></div>
                  <img  id="image-expanded"src="">
                  <h1 id="heading-expanded"></h1>
                  <p id="para-expanded"></p>
                </div>
              </div>
          
              <div class="feature-card-container" id="feature-card-container">
                  <div id="mini-feature-card-container">
                  <div class="feature-card-column feature-column-0" >
                      <div class="card featureBg-blue2 featured" id="1">
                        <div class="border featureBlack-border"></div>
                        <img class="featured-image1"
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-00.jpg" />
                        <h1 id="featured-heading1">Hey now, you're an allstar</h1>
                        <p class="featured-para1">Lorem ipsum dolor
                          sit amet consectetur adipisicing elit.
                           Similique, dolorum laboriosam. Molestiae,
                            hic non. Porro atque error ullam, ipsa,
                             recusandae quasi quos
                          consectetur vero aliquam, qui exercitationem
                           natus consequuntur beatae.</p>
                      </div>
                      <div class="card  featureBg-blue1 featured" id="2">
                        <div class="border featureBlack-border"></div>
                        <img class="featured-image2" 
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-02.jpg" />
                        <h1 id="featured-heading2">Hey now, you're a rock star</h1>
                        <p class="featured-para2">Lorem ipsum dolor
                          sit amet consectetur adipisicing elit.
                           Similique, dolorum laboriosam. Molestiae,
                            hic non. Porro atque error ullam, ipsa,
                             recusandae quasi quos
                          consectetur vero aliquam, qui exercitationem
                           natus consequuntur beatae.</p>
                      </div>
                      <div class="card  featureBg-blue featured" id="3">
                          <div class="border featureBlack-border"></div>
                          <img class="featured-image3" 
                          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-01.jpg" />
                          <h1 id="featured-heading3">Get your game on, go play</h1>
                          <p class="featured-para3">Lorem ipsum dolor
                            sit amet consectetur adipisicing elit.
                             Similique, dolorum laboriosam. Molestiae,
                              hic non. Porro atque error ullam, ipsa,
                               recusandae quasi quos
                            consectetur vero aliquam, qui exercitationem
                             natus consequuntur beatae.</p>
                        </div>
                    </div>
                    <div class="feature-card-column feature-column-1 ">
                      <div class="card  featureBg-blue featured" id="4">
                        <div class="border featureBlack-border"></div>
                        <img class="featured-image4"
                         src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-03.jpg" />
                        <h1 id="featured-heading4">Get the show on, get paid</h1>
                        <p class="featured-para4">Lorem ipsum dolor
                          sit amet consectetur adipisicing elit.
                           Similique, dolorum laboriosam. Molestiae,
                            hic non. Porro atque error ullam, ipsa,
                             recusandae quasi quos
                          consectetur vero aliquam, qui exercitationem
                           natus consequuntur beatae.</p>
                      </div>
                      <div class="card  featureBg-blue2  featured" id="5">
                          <div class="border featureBlack-border"></div>
                          <img class="featured-image5" 
                          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-01.jpg" />
                          <h1 id="featured-heading5">Get your game on, go play</h1>
                          <p class="featured-para5">Lorem ipsum dolor
                            sit amet consectetur adipisicing elit.
                             Similique, dolorum laboriosam. Molestiae,
                              hic non. Porro atque error ullam, ipsa,
                               recusandae quasi quos
                            consectetur vero aliquam, qui exercitationem
                             natus consequuntur beatae.</p>
                        </div>
                        <div class="card  featureBg-blue1 featured" id="6">
                          <div class="border featureBlack-border"></div>
                          <img class="featured-image6"
                           src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-01.jpg" />
                          <h1 id="featured-heading6">Get your game on, go play</h1>
                          <p class="featured-para6">Lorem ipsum dolor
                            sit amet consectetur adipisicing elit.
                             Similique, dolorum laboriosam. Molestiae,
                              hic non. Porro atque error ullam, ipsa,
                               recusandae quasi quos
                            consectetur vero aliquam, qui exercitationem
                             natus consequuntur beatae.</p>
                        </div>
                    </div>
                </div>
                </div>
              </section>
            <!-- Features End -->
        <!-- ##############################EVENT SCHEDULE#################################### -->

        <section id="schedule" class="section">
          <!-- container -->
          <div class="container">
            <!-- row -->
            <div class="row">
              <!-- section title -->
              <div class="section-title">
                <h3 class="title intersect">
                  <span>Event</span> <span style="color: #3bb9ff;">Schedule</span>
                </h3>
              </div>
              <!-- /section title -->
  
              <div class="col-md-8 col-md-offset-2">
                <div class="events-wrapper">
                  <!-- event -->
                  <div class="event">
                    <div class="event-day">
                      <div>
                        <span class="day">7</span>
                        <span class="year">June, 2020</span>
                      </div>
                    </div>
                    <div class="event-content">
                      <p class="event-time">
                        <i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM
                      </p>
                      <br />
                      <h3 class="event-title">DAY 1</h3>
                      <p class="cont">
                        Heloo Helooo font testing&nbsp;<a href="#">here</a> END
                        SEM IS CANCELLED
                      </p>
                    </div>
                  </div>
                  <!-- /event -->
  
                  <div class="event">
                    <div class="event-hour"></div>
                    <div class="event-content">
                      <p class="event-time">
                        <i class="fa fa-clock-o"></i> 5 : 30 PM - 7 : 30 PM
                      </p>
                      <h3 class="event-title">Day 2</h3>
                      <p class="cont">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Itaque, vel expedita recusandae impedit,
                      </p>
                    </div>
                  </div>
  
                  <!-- /event -->
  
                  <div class="event">
                    <div class="event-day">
                      <div>
                        <span class="day">7</span>
                        <span class="year">Nov, 2020</span>
                      </div>
                    </div>
                    <div class="event-content">
                      <p class="event-time">
                        <i class="fa fa-clock-o"></i> 5 : 30 PM - 7 : 30 PM
                      </p>
                      <h3 class="event-title">Day 1</h3>
                      <p class="cont">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Tenetur inventore explicabo,
                      </p>
                    </div>
                  </div>
  
                  <!-- event 1-->
                  <div class="event">
                    <div class="event-hour"></div>
                    <div class="event-content">
                      <p class="event-time">
                        <i class="fa fa-clock-o"></i> 5 : 30 PM - 7 : 30 PM
                      </p>
                      <h3 class="event-title">Day 2</h3>
                      <p class="cont">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Error suscipit dicta maxime,
                      </p>
                    </div>
                  </div>
                  <!-- /event1 -->
                </div>
              </div>
            </div>
            <!-- /row -->
          </div>
          <!-- /container -->
        </section>
        <!-- ################################/Event Schedule #####################################-->

      <!--Video Gallery Section Starts-->
      <section class="video">
        <!-- <img
          src="../public/img/illustrations/video.png"
          alt=""
          class="video__background"
        /> -->
        <h1 class="video__secondary intersect">Video Gallery</h1>
        <h2 class="video__instruction">Scroll horizontal to see more videos</h2>
        <div class="contain">
          <button id="left-button">
            <img src="/img/logo/left.svg" alt="" class="" />
          </button>
          <div class="row" id="row">
            <div class="row__inner">
              <div class="tile">
                <div class="tile__media">
                  <iframe
                    src="https://www.youtube-nocookie.com/embed/0D5EEKH97NA"
                    frameborder="0"
                    allow="encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="tile">
                <div class="tile__media">
                  <iframe
                    src="https://www.youtube.com/embed/tt7gP_IW-1w"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="tile">
                <div class="tile__media">
                  <iframe
                    src="https://www.youtube.com/embed/tt7gP_IW-1w"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="tile">
                <div class="tile__media">
                  <iframe
                    src="https://www.youtube.com/embed/tt7gP_IW-1w"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="tile">
                <div class="tile__media">
                  <iframe
                    src="https://www.youtube.com/embed/tt7gP_IW-1w"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="tile">
                <div class="tile__media">
                  <iframe
                    src="https://www.youtube.com/embed/tt7gP_IW-1w"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="tile">
                <div class="tile__media">
                  <iframe
                    src="https://www.youtube.com/embed/tt7gP_IW-1w"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
          <button id="right-button">
            <img src="/img/logo/left.svg" alt="" class="inv" />
          </button>
        </div>
      </section>
      <!---Video Gallery Section Ends-->

 <!-- faq starts -->
 <section class="faq-section bgimage-illustration-faq" id="faq-section">
  <h1 class="faq-heading intersect">Frequently Asked Questions</h1>
  <div class="faq-row-container">
    <div class="row1">
      <div></div>
      <div>
        <div class="faq-questions">
          <div class="row2">
            <button
              class="faq-btn blue-2"
              type="button"
              data-toggle="collapse"
              data-target="collapseQuestion1"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <i class="fas fa-question-circle fa-2x blue-2"></i>
            </button>
            <b class="faq-question-head"
              >What is my name lorem ipsum Anim pariatur cliche ?</b
            >
          </div>
          <div class="faq-collapse" id="collapseQuestion1">
            <div class="faq-card faq-card-body border-blue2">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="faq-questions">
          <div class="row-2">
            <button
              class="faq-btn btn-primary bg-blue2"
              type="button"
              data-toggle="collapse"
              data-target="collapseQuestion2"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <i class="fas fa-question-circle fa-2x blue-2"></i>
            </button>
            <b class="faq-question-head">What is my name?</b>
          </div>

          <div class="faq-collapse" id="collapseQuestion2">
            <div class="faq-card faq-card-body border-blue2">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="faq-questions">
          <div class="row-2">
            <button
              class="faq-btn btn-primary bg-blue2"
              type="button"
              data-toggle="collapse"
              data-target="collapseQuestion3"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <i class="fas fa-question-circle fa-2x blue-2"></i>
            </button>
            <b class="faq-question-head">What is my name?</b>
          </div>

          <div class="faq-collapse" id="collapseQuestion3">
            <div class="faq-card faq-card-body border-blue2">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="faq-questions">
          <div class="row-2">
            <button
              class="faq-btn btn-primary bg-blue2"
              type="button"
              data-toggle="collapse"
              data-target="collapseQuestion4"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <i class="fas fa-question-circle fa-2x blue-2"></i>
            </button>
            <b class="faq-question-head">What is my name?</b>
          </div>

          <div class="faq-collapse" id="collapseQuestion4">
            <div class="faq-card faq-card-body border-blue2">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
      <div style="display: none;"></div>
    </div>
    <div class="faq-img">
      <img
        src="/img/illustrations/faq.jpg"
        alt="faq-illustration"
        class="faq-background"
      />
    </div>
</div>
</div>
</section>

</main>
<!-- faq ends -->
          <!---Contact Us Section Starts-->
          <section class="contact_us">
            <!-- <img src="../public/img/illustrations/contact.png" alt="" /> -->
    
            <h2 class="heading__primary intersect">
              Contact Us
            </h2>
            <form action="/dsc/contact" method="post" id="upload_form" enctype="multipart/form-data">
              <div class="container">
                <div class="row">
                  <h4 style="text-align: center;">We'd love to hear from you!</h4>
                </div>
                <div class="row input-container">
                  <div class="col-xs-12">
                    <div class="styled-input wide">
                      <input type="text" class="full" name="name" required/>
                      <label>Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="styled-input">
                      <input type="text" class="full" name="email" required/>
                      <label>Email</label>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="styled-input" style="float: right;">
                      <input type="text" class="full" name="subject" required />
                      <label>Subject</label>
                    </div>
                  </div>
    
                  <div class="col-xs-12">
                    <div class="styled-input wide">
                      <input type="text" class="message full" name="message" required />
                      <label>Message</label>
                    </div>
                  </div>
                  <center>
                    <div class="col-xs-12">
                      <label for="file" id="lb" class="custom-file-upload"
                        >Upload a file</label
                      >
                      <div class="styled-input wide">
                        <input
                          class="inputfile"
                          type="file"
                          name="issues"
                          id="file1"
                          onchange="uploadFile()"
                          multiple
                        /><br />
                        <center>
                          <progress
                            class="progress"
                            id="progressBar"
                            value="0"
                            max="100"
                            style="width: 300px;"
                          ></progress>
                        </center>
    
                        <h3 id="status" class="status"></h3>
                        <p id="loaded_n_total" class="loaded_n_total"></p>
                      </div>
                    </div>
    
                    <div class="col-xs-12">
                      <button class="btn-lrg submit-btn">Send Message</button>
                    </div>
                  </center>
                </div>
              </div>
            </form>
          </section>
    <!-- <%-include('partials/footer')%> -->
    <!---Contact Us Section Ends-->
    <script src="/js/loader.js"></script>
    <script src="/js/index/index_progressbar.js"></script>
    <script src="/js/index/index_faq.js"></script>
    <script src="/js/index/index_feature.js"></script>
    <script src="/js/index/index.js"></script>
    <script src="/js/navbar.js"></script>
    <script>
      var bodydiv = document.getElementById('bodydiv');
      bodydiv.addEventListener('click', closeSearch)
      function closeSearch(){
        let search_list1= document.getElementById('search_list1');
        search_list1.style.display = 'none';
      }
    </script>
  </body>
</html>
