<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />
    <meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar" />

    <title>DSC NITS | Profile</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
    <!-- Stylings Starts-->
    <link rel="stylesheet" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/profile/profile_dashboard.css" />
    <link rel="stylesheet" href="/css/profile/profile_experience.css" />
    <link rel="stylesheet" href="/css/profile/profile_skills.css" />
    <link rel="stylesheet" href="/css/profile/profile-achievement.css" />
    <link rel="stylesheet" href="/css/profile/profile_projects.css" />
    <link rel="stylesheet" href="/css/profile/modal.css" />
    <link rel="stylesheet" href="/css/index/font-awesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- JQuery for navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Stylings Ends -->
  </head>
  <body>
    <%-include('partials/navbar')%>
    <!-- Edit Expereince Modal  -->
    <div class="addExperienceModal" id="addExperienceModal">
      <div class="wrapper backPart">
        <div id="subscribeBox">
          <img
            id="backlogo1"
            class="backlogo1"
            src="/img/logo/bac.png"
            alt="background logo"
          />
        </div>
        <div></div>
      </div>
      <div class="wrapper">
        <div id="subscribeBox">
          <h2><span class="thin">Add a new </span> Experience</h2>

          <form
            class="subscribeForm"
            method="post"
            action="/user/experience"
            onsubmit="return addExperienceModalvalidate()"
            name="addExperienceform"
          >
            <div class="flexRow">
              <label for="exp_name"> Company Name</label>
              <input id="exp_name" type="text" name="exp_name" maxlength="20" />
            </div>
            <div class="flexRow">
              <label for="exp_role"> Job Role</label>
              <input id="exp_role" type="text" name="exp_role" maxlength="20" />
            </div>
            <div class="flexRow">
              <label for="exp_status">Status</label>
              <select
                name="exp_status"
                id="exp_status"
                onchange="statusListener()"
              >
                <option value="Completed" selected>Completed</option>
                <option value="Ongoing">Ongoing</option>
              </select>
            </div>
            <div class="flexRow">
              <label for="exp_startdate">Start Date</label>
              <input
                id="exp_startdate"
                type="date"
                placeholder="dd/mm/yyyy"
                name="exp_startdate"
                required
              />
            </div>
            <div class="flexRow">
              <label for="exp_enddate">End Date</label>
              <input
                id="exp_enddate"
                placeholder="dd/mm/yyyy"
                type="date"
                name="exp_enddate"
              />
            </div>

            <div class="flexRow">
              <label for="exp_description">Description</label>
              <input
                id="Description"
                type="text"
                name="exp_description"
                maxlength="50"
              />
            </div>
            <br /><br />
            <div class="flexRow fullwidth">
              <input
                id="submit_experience"
                class="submit"
                type="submit"
                value="Save Changes"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Expereince Modal  -->
    <!-- Edit Profile Modal  -->
    <div class="editProfileModal" id="editProfileModal">
      <div class="wrapper backPart">
        <div id="subscribeBox">
          <img id="backlogo" class="backlogo" src="/img/logo/bac.png" alt="background logo" />
        </div>
        <div></div>
      </div>
      <div class="wrapper">
        <div id="subscribeBox" style="justify-content: space-around">
          <h2><span class="thin"></span></h2>
          <div class="socials">
            <div class="items">
              <div class="photo">
                <% if(user.profileImageLocation!=null){ %>
                <img src="/upload<%= user.profileImageLocation%>" alt="profile picture" />
                <% }else{%> <img src="/img/logo/profile.png" alt="avatar" /> <% }%>
              </div>

              <form
                style="width: 100%; padding: 0px auto"
                action="profile/upload/<%=user._id%>"
                method="post"
                enctype="multipart/form-data"
                class="uploadImageForm"
              >
                <div class="upload-btn-wrapper">
                  <label style="width: 200px" class="custom-file-upload">
                    <input
                      type="file"
                      name="profile-image"
                      value=""
                      id="fileSubmitButton"
                      onchange="didyouupload()"
                    />
                    <span> Choose Photo</span>
                  </label>
                  <input id="file-upload" name='upload_cont_img' type="file" style="display:none;">
                  <label id="file-name"></label>
                  <input
                    id="uploadphoto"
                    style="
                      width: 200px;
                      height: 40px;
                      color: rgb(238, 238, 238) !important;
                      opacity: 0;
                    "
                    type="submit"
                    class="submit"
                    value="Upload"
                  />
                </div>
              </form>
            </div>
            <div class="items link">
              <nobr style="display: flex; align-items: center">
                <img src="/img/logo/link.png" alt="Linkedin logo" />
                <a href=""
                  >Connect to Linkedin <br />
                  <span>(Feature Coming Soon)</span></a
                >
              </nobr>
            </div>
            <div class="items twitter">
              <nobr style="display: flex; align-items: center">
                <img src="/img/logo/twitter.png" alt="twitter logo" />
                <a href="#"
                  >Connect to Twitter<br />
                  <span>(Feature Coming Soon)</span></a
                >
              </nobr>
            </div>
          </div>
          <p></p>
          <img class="edill" src="/img/illustrations/editing.png" alt="illustration" />
        </div>
      </div>
      <div class="wrapper">
        <div id="subscribeBox">
          <form
            class="subscribeForm"
            method="post"
            action="/user/profile"
            onsubmit="return editProfileModalvalidate()"
            name="editprofileform"
          >
            <div class="flexRow">
              <label for="name">Name</label>
              <input
                id="name"
                type="text"
                value="<%=user.name%>"
                name="name"
                required
                maxlength="30"
              />
            </div>
            <hr size="1px" />
            <div class="flexRow">
              <label for="degree">Degree</label>
              <select name="degree" id="degree" required>
                <option value="Bachelor of Technology" selected>
                  Bachelor of Technology
                </option>
                <option value="Master of Technology">
                  Master of Technology
                </option>
                <option value="PHD">PHD</option>
              </select>
            </div>
            <div class="flexRow">
              <label for="branch">Branch</label>
              <select name="branch" id="branch" required>
                <option value="Computer Science and Engineering">CSE</option>
                <option value="Electrical Engineering">EE</option>
                <option value="Electronics and Communication Engineering">
                  ECE
                </option>
                <option value="Civil Engineering">CE</option>
                <option value="Electronics & Instrumentation">E&I</option>
              </select>
            </div>
            <div class="flexRow">
              <label for="batchYear">Batch Year</label>
              <select name="batchYear" id="batchYear">
                <option value="2020-24">2020-24</option>
                <option value="2019-23" selected>2019-23</option>
                <option value="2018-22">2018-22</option>
                <option value="2017-21">2017-21</option>
                <option value="2016-20">2016-20</option>
              </select>
            </div>
            <hr size="1px" />
            <div class="flexRow">
              <label for="bio">Bio</label>
              <input
                id="bio"
                type="text"
                placeholder="Something about you."
                name="bio"
                value="<% if(user.bio){%><%=user.bio%><%}%>"
                maxlength="50"
              />
            </div>
            <div class="flexRow">
              <label for="facebook"> Facebook </label>
              <input
                id="facebook"
                type="url"
                value="<% if(user.socialLinks['facebook']){%><%=user.socialLinks['facebook']%><%}%>"
                placeholder="Enter Your Facebook account URL"
                name="facebook"
                maxlength="200"
              />
            </div>
            <div class="flexRow">
              <label for="linkedin"> LinkedIn </label>
              <input
                id="linkedin"
                type="url"
                value="<% if(user.socialLinks['linkedin']){%><%=user.socialLinks['linkedin']%><%}%>"
                placeholder="Enter Your Linkedin account URL"
                name="linkedin"
                maxlength="200"
              />
            </div>

            <div class="flexRow">
              <label for="github"> Github </label>
              <input
                id="github"
                type="url"
                value="<% if(user.socialLinks['github']){%><%=user.socialLinks['github']%><%}%>"
                placeholder="Enter Your github profile URL"
                name="github"
                maxlength="200"
              />
            </div>
            <hr size="1px" />
            <div class="flexRow">
              <label for="email">Email</label>
              <input
                id="email"
                type="email"
                value="<%= user.email %>"
                name="email"
                disabled
              />
            </div>
            <div class="flexRow">
              <label for="password">Password </label>
              <div class="flexRow fullwidth">
                <!-- <p>Last Changed 2 months ago</p> -->
                <a href="">Change Password</a>
              </div>
            </div>
            <br /><br />
            <div class="flexRow fullwidth">
              <input
                id="submit_editprofile"
                class="submit"
                type="submit"
                value="Save Changes"
                required
              />
              <!-- <a href="">Deactivate My Account</a> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Profile Modal  -->

    <!-- Image Viewer Modal  -->
    <div class="modal">
      <img class="fullview" src="" alt="modal" />
    </div>
    <!-- Image Viewer Modal  -->

    <!-- addSkillsModal Modal  -->
    <div class="addSkillsModal" id="addSkillsModal">
      <div class="wrapper backPart">
        <div id="subscribeBox">
          <img
            id="backlogo2"
            class="backlogo1"
            src="/img/logo/bac.png"
            alt="background logo"
          />
        </div>
        <div></div>
      </div>
      <div class="wrapper">
        <div id="subscribeBox">
          <h2><span class="thin">Add a new </span> Skills</h2>

          <form
            class="subscribeForm"
            method="post"
            action="/user/skill"
            name="addSkillsForm"
            onsubmit="return addSkillsModalvalidate()"
          >
            <div class="flexRow">
              <label for="skillname">Skill Name</label>
              <input
                id="skillname"
                type="text"
                name="skillname"
                maxlength="30"
                required
              />
            </div>
            <div class="flexRow">
              <label for="skilllevel">Skill Level</label>
              <select name="skilllevel" id="skilllevel" required>
                <option value="Beginner" selected>Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Expert">Expert</option>
              </select>
            </div>
            <!-- <div class="flexRow">
              <label for="skillduration">Duration</label>
              <input
                id="skillsduration"
                placeholder="In months"
                name="skillduration"
                maxlength="5"
              />
            </div> -->
            <div class="flexRow">
              <label for="skilldescription">Description</label>
              <input
                id="skilldescription"
                type="text"
                name="skilldescription"
                maxlength="50"
                required
              />
            </div>
            <br /><br />
            <div class="flexRow fullwidth">
              <input
                id="submit_skills"
                class="submit"
                type="submit"
                value="Save Changes"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- addSkillsModal Modal  -->

    <!-- addProjectsModal Modal  -->
    <div class="addProjectsModal" id="addProjectsModal">
      <div class="wrapper backPart">
        <div id="subscribeBox">
          <img
            id="backlogo3"
            class="backlogo1"
            src="/img/logo/bac.png"
            alt="background logo"
          />
        </div>
        <div></div>
      </div>
      <div class="wrapper">
        <div id="subscribeBox">
          <h2><span class="thin">Add a new </span>Personal Project</h2>

          <form
            class="subscribeForm"
            method="post"
            action="/user/project/personal"
            name="addProjectForm"
            onsubmit="return addProjectModalvalidate()"
          >
            <div class="flexRow">
              <label for="projectname">Project Name</label>
              <input
                id="projectname"
                type="text"
                name="title"
                required
                maxlength="30"
              />
            </div>
            <div class="flexRow">
              <label for="projectrole">Project Role</label>
              <input
                id="projectrole"
                type="text"
                name="role"
                maxlength="30"
                required
              />
            </div>
            <div class="flexRow">
              <label for="status">Project Status</label>
              <select name="status" id="projectStatus" required onchange="statusListenerProject()">
                <option value="Completed" selected>Completed</option>
                <option value="Ongoing">Ongoing</option>
              </select>
            </div>
            <div class="flexRow">
              <label for="startdate">Start Date</label>
              <input id="startdate" type="date" name="startdate" required />
            </div>
            <div class="flexRow">
              <label for="enddate">End Date</label>
              <input id="enddate" type="date" name="enddate" required />
            </div>

            <div class="flexRow">
              <label for="techstack">Techstacks</label>
              <input
                id="techstack"
                placeholder="Tech Stack"
                type="text"
                name="techstack"
                maxlength="30"
                required
              />
            </div>
            <div class="flexRow">
              <label for="githuburl">Git Hub URL</label>
              <input
                id="githuburl"
                type="url"
                placeholder="Your Github repository link"
                name="githuburl"
              />
            </div>
            <div class="flexRow">
              <label for="hosturl">Hosted URL</label>
              <input
                id="hosturl"
                type="url"
                placeholder="Your Hosted  link"
                name="hosturl"
              />
            </div>
            <div class="flexRow">
              <label for="description">Description</label>
              <input
                id="description"
                type="text"
                name="description"
                maxlength="60"
                required
              />
            </div>
            <br /><br />
            <div class="flexRow fullwidth">
              <input
                id="submit_project"
                class="submit"
                type="submit"
                value="Save Changes"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- addSkillsModal Modal  -->
    <!-- addAchievementModal Modal  -->
    <div class="addAchievementModal" id="addAchievementModal">
      <div class="wrapper backPart">
        <div id="subscribeBox">
          <img
            id="backlogo4"
            class="backlogo1"
            src="/img/logo/bac.png"
            alt="background logo"
          />
        </div>
        <div></div>
      </div>
      <div class="wrapper">
        <div id="subscribeBox">
          <h2><span class="thin">Add a new </span> Achievement</h2>

          <form
            class="subscribeForm"
            method="POST"
            action="/user/achievement"
            onsubmit="return addAchievementModalvalidate()"
            name="addAchievementForm"
          >
            <div class="flexRow">
              <label for="achievementname">Achievement Name</label>
              <input
                id="achievementname"
                type="text"
                name="achievementname"
                maxlength="30"
                required
              />
            </div>
            <div class="flexRow">
              <label for="achievementnameplatform">Achievement Platform</label>
              <input
                id="achievementnameplatform"
                type="text"
                name="achievementnameplatform"
                maxlength="30"
                required
              />
            </div>
            <div class="flexRow">
              <label for="achievementnamedate">Received Date</label>
              <input
                id="achievementnamedate"
                type="date"
                name="achievementnamedate"
                required
              />
            </div>
            <div class="flexRow">
              <label for="achievementnameserial">Unique Serial Number</label>
              <input
                id="achievementnameserial"
                type="text"
                placeholder="Unique Certification Number"
                name="achievementnameserial"
                maxlength="30"
              />
            </div>
            <div class="flexRow">
              <label for="projectdescription">Description</label>
              <input
                id="projectdescription"
                type="text"
                name="projectdescription"
                maxlength="50"
              />
            </div>
            <br /><br />
            <div class="flexRow fullwidth">
              <input
                id="submit_achievement"
                class="submit"
                type="submit"
                value="Save Changes"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- addAchievementModal Modal  -->
    <!-- Main Content Starts -->
    <div class="container">
      <section class="accountbar">
        <p></p>
        <div class="accountbar__shortcut">
          <div class="fndp" id="editbtn">Edit Profile</div>
          <a href="/user/logout" style="text-decoration: none">
            <div class="fndp">Log Out</div></a
          >
          <!-- <div class="edit" id="editbtn" ></div> -->
          <!-- <% if(user.profileImageLocation!=null){ %>
          <img
            class="bell resone"
            src="<%= user.profileImageLocation%>"
            alt="UserPhoto"
          />
          <% }else{%>

          <img
            class="bell resone"
            src="/img/logo/profile.png"
            alt="UserPhoto"
          />
          <% }%>

          <img class="bell" src="/img/logo/bell.png" alt="Notification Logo" /> -->
        </div>
      </section>
      <section class="accountdetails">
        <section class="dashboard__navbar">
          <ul class="side-nav">
            <!-- <li class="side-nav__item side-nav__item--active">
              <a href="#" class="side-nav__link">
                <span>Home</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Projects</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Achievements</span>
              </a>
            </li> -->
          </ul>
        </section>
        <section class="dashboard__main">
          <section class="main__profileinfo">
            <div class="pictureandbasic">
              <div class="photo">
                <% if(user.profileImageLocation!=null){ %>
                <img src="/upload<%= user.profileImageLocation%>" alt="profile image" style="  height: 110%;" />
                <% }else{%> <img src="/img/logo/profile.png" alt="avatar" /> <% }%>
              </div>
              <div class="info">
                <div class="nameandedit">
                  <h2><%= user.name %></h2>
                </div>
                <p>
                  <% if(user.branch!=null||user.batch!=null){ %> <%= user.degree
                  %> | <%= user.batch %> <br />
                  <%= user.branch %> <% }else{%> Your profile details are
                  empty.<% }%>
                </p>
                <p>
                  <% if(user.bio!=null){ %> <%= user.bio%> <% }else{%> <% }%>
                </p>
                <div class="branchandyear">
                  <div class="collegeinfo">
                    <% if(user.socialLinks["github"]!=null){ %>
                    <a href='<%=user.socialLinks["github"]%>' target="_blank">
                      <img class="s" src="/img/logo/githubPng.png" alt="github logo" />
                    </a>
                    <% }else{%>

                    <a href="#">
                      <img class="s" src="/img/logo/githubPng.png" alt="github logo" /> </a
                    ><% }%>
                  </div>
                  <div class="collegeinfo">
                    <% if(user.socialLinks["facebook"]!=null){ %>
                    <a href='<%=user.socialLinks["facebook"]%>' target="_blank">
                      <img class="s" src="/img/logo/fb.png" alt="facebook logo" />
                    </a>
                    <% }else{%>

                    <a href="#">
                      <img class="s" src="/img/logo/fb.png" alt="facebook logo" /> </a
                    ><% }%>
                  </div>
                  <div class="collegeinfo">
                    <% if(user.socialLinks["linkedin"]!=null){ %>
                    <a href='<%=user.socialLinks["linkedin"]%>' target="_blank">
                      <img class="s" src="/img/logo/link.png" alt="linkedin logo" />
                    </a>
                    <% }else{%>

                    <a href="#">
                      <img class="s" src="/img/logo/link.png" alt="linkedin logo" /> </a
                    ><% }%>
                  </div>
                </div>
              </div>
              <div id='faint-handle' class="faint">
                <% if(user.dscHandle!=null){ %> <%= user.dscHandle%> <%}else{}%>
              </div>
            </div>
          </section>
          <section class="main__detailedinfo">
            <div class="panel-body">
              <div class="tab-container">
                <ul class="tab-buttons tab-buttons--basic tab-buttons--left">
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel01"
                      id="tab01"
                      class="tab-button tab-button--is-active"
                      data-a11ytab-tab
                      >Timeline</a
                    >
                  </li>
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel02"
                      id="tab02"
                      class="tab-button"
                      data-a11ytab-tab
                      >Experience</a
                    >
                  </li>
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel03"
                      id="tab03"
                      class="tab-button"
                      data-a11ytab-tab
                      >Skills</a
                    >
                  </li>
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel04"
                      id="tab04"
                      class="tab-button"
                      data-a11ytab-tab
                      >Projects</a
                    >
                  </li>
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel05"
                      id="tab05"
                      class="tab-button"
                      data-a11ytab-tab
                    >
                      Achievements</a
                    >
                  </li>
                </ul>
                <div class="tab-panels">
                  <div id="panel01" class="tab-panel">
                    <div class="flexRow">
                      <h3>TIMELINE</h3>
                      <div class="flexRow">
                        <p>Want to add more Blogs ? &nbsp; &nbsp;</p>

                        <a
                          style="color: var(--Grey-dark-1)"
                          href="/blog/create"
                        >
                          Click here</a
                        >
                      </div>
                    </div>
                    <% if(user.blogs.length==0){%>
                    <div class="cards">
                      <div class="card">
                        <div class="description">
                          Your Timeline has nothing to show. Post blogs to
                          display some.
                        </div>
                      </div>
                    </div>
                    <% }%>
                    <div class="cards">
                      <% user.blogs.forEach(function(blog){%>
                      <div class="card">
                        <div class="socialactivity">
                          <% if(user.profileImageLocation!=null){ %>
                          <img
                            src="/upload<%= user.profileImageLocation%>"
                            alt="profile image"
                          />
                          <% }else{%>
                          <img src="/img/logo/profile.png" alt="avatar" />

                          <% }%>

                          <div
                            style="
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: right;
                            "
                          >
                            <i class="fas fa-eye" style="font-size: 15px">
                              <%= blog.views %></i
                            >

                            <!-- <a
                              href="/user/blog/delete/<%= blog._id %>"
                              style="color: red"
                            >
                              <i class="fas fa-trash" style="font-size: 18px">
                              </i>
                            </a> -->
                          </div>
                        </div>
                        <div class="content">
                          <h3 class="topic"><%= blog.title %></h3>
                          <p class="place"></p>
                          <div class="description">
                            <%- blog.body.substring(0, 300)%>
                          </div>
                          <a href="/blog/view/<%= blog.slug%>">Read more</a>
                          <div class="images">
                            <div class="image-container">
                              <img
                                class="post-images"
                                src="<%= blog.cover%>"
                                alt="blog cover"
                                data-original="<%= blog.cover%>"
                              />
                            </div>
                          </div>
                        </div>
                        <a
                          class="delete-exp"
                          href="/user/blog/delete/<%= blog._id %>"
                          ><img src="/img/profile/trash.svg" alt="delete icon"/></a>
                      </div>
                      <%})%>
                    </div>
                  </div>
                  <div id="panel02" class="tab-panel">
                    <div class="flexRow">
                      <h3>EXPERIENCE</h3>
                      <div class="flexRow">
                        <p>Want to add more Experience ?</p>
                        <button class="addExperience" id="addExperience">
                          Click here
                        </button>
                      </div>
                    </div>
                    <div class="cards_exp">
                      <% if(user.experiences.length==0){%>
                      <div class="cards">
                        <div class="card">
                          <div class="description">
                            Your Expereince Tab has nothing to show. Add Some
                            Expereince to display here.
                          </div>
                        </div>
                      </div>
                      <% }%>
                      <div class="card_exp">
                        <%
                        if(user.experiences){user.experiences.forEach((experience=>
                        { %>
                        <div class="row">
                          <div
                            class="column"
                            style="
                              width: 100%;
                              display: flex;
                              justify-content: space-between;
                            "
                          >
                            <div
                              style="
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                              "
                            >
                              <img
                                src="/img/logo/experience-default.png"
                                alt="experience logo"
                              />
                              <h3 class="accordion">
                                <%= experience.role %><br />
                                <p><%= experience.name %></p>
                              </h3>
                            </div>

                            <div
                              style="
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                              "
                            >
                            <div id="mention">
                              <b>&#9899;</b><%= experience.startdate %> - <% if (experience.enddate !== undefined) {%>
                                <%= experience.enddate %>
                                <%} else { %>
                                  Present
                                <%} %>
                            </div>

                              <a
                                class="delete-exp"
                                href="/user/delete/experience/<%= experience._id %>"
                                ><img src="/img/profile/trash.svg" alt="delete icon"
                              /></a>
                            </div>
                          </div>
                          <div class="panelexp">
                            <p><%= experience.description %></p>
                          </div>
                        </div>
                        <% }))} %>
                      </div>
                    </div>
                  </div>
                  <div id="panel03" class="tab-panel">
                    <div class="flexRow">
                      <h3>SKILLS</h3>
                      <div class="flexRow">
                        <p>Want to add more Skills ?</p>
                        <button class="addExperience" id="addSkills">
                          Click here
                        </button>
                      </div>
                    </div>
                    <% if(user.skills.length==0){%>
                    <div class="cards">
                      <div class="card">
                        <div class="description">
                          Your Skills Tab has nothing to show. Add Some Skills
                          to display here.
                        </div>
                      </div>
                    </div>
                    <% }%>
                    <div class="cards">
                      <% user.skills.forEach((skill) => {%>
                      <div class="card">
                        <div class="skill-icon">
                          <img
                            src="/img/skill-icons/skill-default.png"
                            alt="skill-default"
                            class="icon"
                          />
                        </div>
                        <div class="skill-description">
                          <h3 class="skill-name"><%= skill.name %></h3>
                          <h4 class="skill-time"><%= skill.description%></h4>
                        </div>
                        <p class="skill-level"><%= skill.level %></p>
                        <a
                          class="delete-ski"
                          href="/user/delete/skill/<%= skill._id %>"
                          ><img src="/img/profile/trash.svg" alt="delete icon"
                        /></a>
                      </div>

                      <%})%>
                    </div>
                  </div>
                  <div id="panel04" class="tab-panel">
                    <div class="flexRow">
                      <h3>PROJECTS</h3>
                      <div class="flexRow">
                        <p>Want to showcase more Projects ?</p>
                        <button class="addExperience" id="addProject">
                          Click here
                        </button>
                      </div>
                    </div>
                    <section class="grid-item main">
                      <% if(user.personalProjects.length==0){%>
                      <div class="cards">
                        <div class="card">
                          <div class="description">
                            Your Personal Projects Tab has nothing to show. Add
                            Some Projects to display here.
                          </div>
                        </div>
                      </div>
                      <% }%>
                      <div class="items">
                        <% user.personalProjects.forEach((project) => {%>
                        <div class="item item1">
                          <div class="project-lang">
                            <div class="lang lang1">
                              <img
                                class="language"
                                src="/img/logo/project-default.png"
                                alt="project-default"
                              />
                            </div>
                          </div>
                          <div class="project-name">
                            <h4><%= project.title %></h4>
                          </div>
                          <p style="margin: 0.5rem 0">
                            <%= project.techstack %>
                          </p>
                          <div class="git-link">
                            <a
                              href="<%= project.githuburl %>"
                              add
                              target="_blank"
                              ><h4>View on Github</h4></a
                            >
                          </div>
                          <%if(project.hosturl){%>
                          <div class="git-link">
                            <a href="<%= project.hosturl %>" add target="_blank"
                              ><h4>Visit Hosted URL</h4></a
                            >
                          </div>
                          <%}%>

                          <div
                            class="project-description"
                            style="word-wrap: anywhere"
                          >
                            <br />
                            <p><%= project.description %></p>
                          </div>
                          <div class="project-duration">
                            <h3>
                              <%= project.startdate %> to 
                              <% if(project.enddate !== undefined) { %>
                                 <%= project.enddate %>
                              <% } else { %>
                                Present
                              <% } %>
                            </h3>
                          </div>
                          <center>
                            <a
                              class="delete-prj"
                              href="/user/delete/project/personal/<%= project._id %>"
                              ><img src="/img/profile/trash.svg" alt="delete icon"
                            /></a>
                          </center>
                        </div>

                        <%})%>
                      </div>
                    </section>
                  </div>
                  <div id="panel05" class="tab-panel">
                    <div class="flexRow">
                      <h3>ACHIEVEMENTS</h3>
                      <div class="flexRow">
                        <p>Want to add more Achievements ?</p>
                        <button class="addExperience" id="addAchievement">
                          Click here
                        </button>
                      </div>
                    </div>
                    <div class="cards_ach">
                      <% if(user.achievements.length==0){%>
                      <div class="cards">
                        <div class="card">
                          <div class="description">
                            Your Achievements Tab has nothing to show. Add some
                            Achievements to display here.
                          </div>
                        </div>
                      </div>
                      <% }%>
                      <div class="card_ach">
                        <% user.achievements.forEach((ach) => {%>
                        <div class="row-ach">
                          <div
                            class="column-ach"
                            style="
                              display: flex;
                              justify-content: space-between;
                            "
                          >
                            <div style="display: flex; align-items: center">
                              <img
                                src="/img/logo/achievement-default.png"
                                alt="achievement default"
                              />
                              <h3 class="tab-ach">
                                <%= ach.name %><br />
                                <p><%= ach.platform%></p>
                              </h3>
                            </div>
                            <div id="date"><%= ach.date%></div>
                            <div class="tooltip">
                              <img src="/img/logo/info.svg" alt="info" />
                              <% if(ach.serial !== "") {%> 
                              <span class="tooltiptext"
                                >Credential ID: <%= ach.serial%></span
                              >
                              <% } %>
                              <a
                                class="delete-ach"
                                href="/user/delete/achievement/<%= ach._id %>"
                                ><img src="/img/profile/trash.svg" alt="delete icon"
                              /></a>
                            </div>
                            <!--<div class="bookmarks">
                                     <a>
                                   <img  src="/assets/images/bookmark.svg" alt="bookmark"></a>
                                   </div>-->
                          </div>
                        </div>
                        <%})%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
        <section class="contests">
          <h1>Contests</h1>
          <div class="container">
            <div class="card">
              <p class="type">Hackathon</p>
              <hr />
              <p class="topic">Campus 101</p>
              <p class="details">
                HackerEarth wants to help you bridge this gap by starting off a
                2 months journey of learning with you - The Campus 101.
              </p>
              <div class="timings">
                <div class="time">
                  <p class="stat">START</p>
                  <p>Nov 06, 2020</p>
                </div>
                <div class="time">
                  <p class="stat">END</p>
                  <p>Nov 06, 2020</p>
                </div>
              </div>
              <hr />
              <div class="timings">
                <a
                  href="https://campus101.hackerearth.com/"
                  style="text-decoration: none"
                >
                  <button onclick="">Register</button>
                </a>
                <!-- <a
                href="https://campus101.hackerearth.com/"
                style="text-decoration: none"
              >
                <button onclick="">Enter</button>
              </a> -->
              </div>
            </div>
            <div class="card">
              <p class="type">Hackathon</p>
              <hr />
              <p class="topic">Hackccelerate 2020</p>
              <p class="details">
                HackerEarth presents Hackccelerate 2020, a 72-hour hackathon
                that will put your skills to the test! So grab your coffee,
                snacks, and code your way to deliver an innovative tech product
                within 72 hours.
              </p>
              <div class="timings">
                <div class="time">
                  <p class="stat">START</p>
                  <p>Oct 15, 2020</p>
                </div>
                <div class="time">
                  <p class="stat">END</p>
                  <p>Oct 18, 2020</p>
                </div>
              </div>
              <hr />
              <div class="timings">
                <a
                  href="https://www.hackerearth.com/challenges/hackathon/hackccelerate-2020/"
                  style="text-decoration: none"
                >
                  <button onclick="">Register</button>
                </a>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <%-include('partials/footer')%>
  </body>
  <script src="/js/darkmode.js"></script>
  <!-- Navbar JS -->
  <script src="/js/navbar.js"></script>
  <!-- Navbar JS -->
  <script src="/js/a11ytab.js"></script>
  <script src="/js/profile/profile.js"></script>
  <script src="/js/profile/profile-upload.js"></script>
  <script src="/js/profile/modal.js"></script>
</html>
