<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />
    <meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar" />

    <title>DSC NITS | <%= searchedUser.name %></title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
    <!-- Stylings Starts-->
    <link rel="stylesheet" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/profile/profile_dashboard.css" />
    <link rel="stylesheet" href="/css/profile/profile_experience.css" />
    <link rel="stylesheet" href="/css/profile/profile_skills.css" />
    <link rel="stylesheet" href="/css/profile/profile-achievement.css" />
    <link rel="stylesheet" href="/css/profile/profile_projects.css" />
    <link rel="stylesheet" href="/css/profile/modal.css" />
    <link rel="stylesheet" href="/css/index/font-awesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- JQuery for navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Stylings Ends -->
  </head>
  <body>
    <%-include('partials/navbar')%>
    <!-- Edit Expereince Modal  -->

    <div class="container">
      <section class="dashboard__main">
        <section class="main__profileinfo">
          <div class="pictureandbasic">
            <div class="photo">
              <% if(searchedUser.profileImageLocation!=null){ %>
              <img src="/upload<%= searchedUser.profileImageLocation%>" alt="profile-image"; style="height: 110%;"/>
              <% }else{%> <img src="/img/logo/profile.png" alt="avatar" /> <% }%>
            </div>
            <div class="info">
              <div class="nameandedit">
                <h2><%= searchedUser.name %></h2>
              </div>
              <p>
                <% if(searchedUser.branch!=null||searchedUser.batch!=null){ %> <%= searchedUser.degree
                %> | <%= searchedUser.batch %> <br />
                <%= searchedUser.branch %> <% }else{%><%
                }%>
              </p>
              <p><% if(searchedUser.bio!=null){ %> <%= searchedUser.bio%> <% }else{%> <% }%></p>
              <div class="branchandyear">
                <div class="collegeinfo">
                  <% if(searchedUser.socialLinks["facebook"]!=null){ %>
                  <a href='<%= searchedUser.socialLinks["facebook"]%>' target="__blank">
                    <img class="s" src="/img/logo/fb.png" alt="facebook logo" />
                  </a>
                  <% }else{%>
                  <a href="#" target="__blank">
                    <img class="s" src="/img/logo/fb.png" alt="facebook logo" /> </a
                  ><% }%>
                </div>
                <div class="collegeinfo">
                  <% if(searchedUser.socialLinks["linkedin"]!=null){ %>
                  <a href='<%= searchedUser.socialLinks["linkedin"]%>' target="__blank">
                    <img class="s" src="/img/logo/link.png" alt="linkedin logo" />
                  </a>
                  <% }else{%>
                  <a href="#" target="__blank">
                    <img class="s" src="/img/logo/link.png" alt="linkedin logo" /> </a
                  ><% }%>
                </div>
                <div class="collegeinfo">
                  <% if(searchedUser.socialLinks["twitter"]!=null){ %>
                  <a href='<%= searchedUser.socialLinks["twitter"]%>' target="__blank">
                    <img class="s" src="/img/logo/twitter.png" alt="twitter logo" />
                  </a>
                  <% }else{%>
                  <a href="#" target="__blank">
                    <img class="s" src="/img/logo/twitter.png" alt="twitter logo" /> </a
                  ><% }%>
                </div>
              </div>
            </div>
            <div class="faint">
              <% if(searchedUser.dscHandle!=null){ %> <%= searchedUser.dscHandle%> <%}else{}%>
            </div>
          </div>
        </section>
        <section class="main__detailedinfo">
          <div class="panel-body">
            <div class="tab-container">
              <ul class="tab-buttons tab-buttons--basic tab-buttons--left">
                <li class="tab-button-item" role="presentation">
                  <a
                    href="#panel01"
                    id="tab01"
                    class="tab-button tab-button--is-active"
                    data-a11ytab-tab
                    >Timeline</a
                  >
                </li>
                <li class="tab-button-item" role="presentation">
                  <a
                    href="#panel02"
                    id="tab02"
                    class="tab-button"
                    data-a11ytab-tab
                    >Experience</a
                  >
                </li>
                <li class="tab-button-item" role="presentation">
                  <a
                    href="#panel03"
                    id="tab03"
                    class="tab-button"
                    data-a11ytab-tab
                    >Skills</a
                  >
                </li>
                <li class="tab-button-item" role="presentation">
                  <a
                    href="#panel04"
                    id="tab04"
                    class="tab-button"
                    data-a11ytab-tab
                    >Projects</a
                  >
                </li>
                <li class="tab-button-item" role="presentation">
                  <a
                    href="#panel05"
                    id="tab05"
                    class="tab-button"
                    data-a11ytab-tab
                  >
                    Achievements</a
                  >
                </li>
              </ul>
              <div class="tab-panels">
                <div id="panel01" class="tab-panel">
                  <div class="flexRow">
                    <h3>TIMELINE</h3>
                  </div>
                  <% if(searchedUser.blogs.length==0){%>
                    <div class="cards">
                      <div class="card">
                        <div class="description">
                          <%= searchedUser.name %> has not posted any blogs yet.
                        </div>
                      </div>
                    </div>
                    <% }%>
                  <div class="cards">
                    <% searchedUser.blogs.forEach(function(blog){%>
                    <div class="card">
                      <div class="socialactivity">
                        <% if(searchedUser.profileImageLocation!=null){ %>
                        <img
                          src="/upload<%= searchedUser.profileImageLocation%>"
                          alt="profile-image"
                        />
                        <% }else{%>
                        <img src="/img/logo/profile.png" alt="avatar" />

                        <% }%>

                        <div>
                          <i class="fas fa-eye" style="font-size: 12px">
                            <%= blog.views %></i
                          >
                        </div>
                      </div>
                      <div class="content">
                        <h3 class="topic"><%= blog.title %></h3>
                        <p class="place"></p>
                        <div class="description">
                          <%- blog.body.substring(0, 300)%>
                        </div>
                        <a href="/blog/view/<%= blog.slug%>">Read more</a>
                        <div class="images">
                          <div class="image-container">
                            <img class="post-images" src="<%= blog.cover%>""
                            alt="blog cover" data-original="<%= blog.cover%>"" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <%})%>
                  </div>
                </div>
                <div id="panel02" class="tab-panel">
                  <div class="flexRow">
                    <h3>EXPERIENCE</h3>
                    <!-- <div class="flexRow">
                        <p>Want to add more Experience ?</p>
                        <button class="addExperience" id="addExperience">
                          Click here
                        </button>
                      </div> -->
                  </div>
                  <div class="cards_exp">
                    <% if(searchedUser.experiences.length==0){%>
                      <div class="cards">
                        <div class="card">
                          <div class="description">
                            <%= searchedUser.name %> has not added any experience yet.
                          </div>
                        </div>
                      </div>
                      <% }%>
                    <div class="card_exp">
                      <%
                      if(searchedUser.experiences){searchedUser.experiences.forEach((experience=>
                      { %>
                      <div class="row">
                        <div
                          class="column"
                          style="
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                          "
                        >
                          <div
                            style="
                              display: flex;
                              flex-direction: row;
                              justify-content: center;
                              align-items: center;
                            "
                          >
                            <img
                              src="/img/logo/experience-default.png"
                              alt="experience-default"
                            />
                            <h3 class="accordion">
                              <%= experience.role %><br />
                              <p><%= experience.name %></p>
                            </h3>
                          </div>

                          <div
                            style="
                              display: flex;
                              flex-direction: row;
                              justify-content: center;
                              align-items: center;
                            "
                          >
                          <div id="mention">
                            <b>&#9899;</b><%= experience.startdate %> - <% if (experience.enddate !== undefined) {%>
                              <%= experience.enddate %>
                              <%} else { %>
                                Present
                              <%} %>
                          </div>
                          </div>
                        </div>
                        <div class="panelexp">
                          <p><%= experience.description %></p>
                        </div>
                      </div>
                      <% }))} %>
                    </div>
                  </div>
                </div>
                <div id="panel03" class="tab-panel">
                  <div class="flexRow">
                    <h3>SKILLS</h3>
                    <!-- <div class="flexRow">
                        <p>Want to add more Skills ?</p>
                        <button class="addExperience" id="addSkills">
                          Click here
                        </button>
                      </div> -->
                  </div>
                  <% if(searchedUser.skills.length==0){%>
                    <div class="cards">
                      <div class="card">
                        <div class="description">
                          <%= searchedUser.name %> has not added any skills yet.
                        </div>
                      </div>
                    </div>
                    <% }%>
                  <div class="cards">
                    <% searchedUser.skills.forEach((skill) => {%>
                    <div class="card">
                      <div class="skill-icon">
                        <img
                          src="/img/skill-icons/skill-default.png"
                          alt="skill-default"
                          class="icon"
                        />
                      </div>
                      <div class="skill-description">
                        <h3 class="skill-name"><%= skill.name %></h3>
                        <h4 class="skill-time"><%= skill.description%></h4>
                      </div>
                      <p class="skill-level"><%= skill.level %></p>
                    </div>
                    <%})%>
                  </div>
                </div>
                <div id="panel04" class="tab-panel">
                  <div class="flexRow">
                    <h3>PROJECTS</h3>
                    <!-- <div class="flexRow">
                        <p>Want to showcase more Projects ?</p>
                        <button class="addExperience" id="addProject">
                          Click here
                        </button>
                      </div> -->
                  </div>
                  <section class="grid-item main">
                    <% if(searchedUser.personalProjects.length==0){%>
                      <div class="cards">
                        <div class="card">
                          <div class="description">
                            <%= searchedUser.name %> has not added any personal projects yet.
                          </div>
                        </div>
                      </div>
                      <% }%>
                    <div class="items">
                      <% searchedUser.personalProjects.forEach((project) => {%>
                      <div class="item item1">
                        <div class="project-lang">
                          <div class="lang lang1">
                            <img
                                class="language"
                                src="/img/logo/project-default.png"
                                alt="project-default"
                              />
                            </div>
                          </div>
                          <div class="project-name">
                            <h4><%= project.title %></h4>
                          </div>
                          <p style="margin: 0.5rem 0">
                            <%= project.techstack %>
                          </p>
                        <div class="git-link">
                          <a
                            href="<%= project.githuburl %>"
                            add
                            target="_blank"
                            ><h4>View on Github</h4></a
                          >
                        </div>
                        <%if(project.hosturl){%>
                        <div class="git-link">
                          <a href="<%= project.hosturl %>" add target="_blank"
                            ><h4>Visit Hosted URL</h4></a
                          >
                        </div>
                        <%}%>
                        <div
                            class="project-description"
                            style="word-wrap: anywhere"
                          >
                            <br />
                            <p><%= project.description %></p>
                          </div>
                          <div class="project-duration">
                            <h3>
                              <%= project.startdate %> to 
                              <% if(project.enddate !== undefined) { %>
                                 <%= project.enddate %>
                              <% } else { %>
                                Present
                              <% } %>
                            </h3>
                          </div>
                      </div>

                      <%})%>
                    </div>
                  </section>
                </div>
                <div id="panel05" class="tab-panel">
                  <div class="flexRow">
                    <h3>ACHIEVEMENTS</h3>
                  </div>
                  <div class="cards_ach">
                    <% if(searchedUser.achievements.length==0){%>
                      <div class="cards">
                        <div class="card">
                          <div class="description">
                            <%= searchedUser.name %> has not added any achievements yet.
                          </div>
                        </div>
                      </div>
                      <% }%>
                    <div class="card_ach">
                      <% searchedUser.achievements.forEach((ach) => {%>
                      <div class="row-ach">
                        <div
                          class="column-ach"
                          style="display: flex; justify-content: space-between"
                        >
                          <div style="display: flex; align-items: center">
                            <img
                              src="/img/logo/achievement-default.png"
                              alt="achievement-default"
                            />
                            <h3 class="tab-ach">
                              <%= ach.name %><br />
                              <p><%= ach.platform%></p>
                            </h3>
                          </div>
                          <div id="date"><%= ach.date%></div>
                          <div class="tooltip">
                            <img src="/img/logo/info.svg" alt="info" />
                            <% if(ach.serial !== "") {%> 
                            <span class="tooltiptext"
                              >Credential ID: <%= ach.serial%></span
                            >
                            <% } %>
                          </div>
                          <!--<div class="bookmarks">
                                     <a>
                                   <img  src="/assets/images/bookmark.svg" alt="bookmark"></a>
                                   </div>-->
                        </div>
                      </div>
                      <%})%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <%-include('partials/footer')%>
  </body>
  <script src="/js/darkmode.js"></script>
  <!-- Navbar JS -->
  <script src="/js/navbar.js"></script>
  <!-- Navbar JS -->
  <script src="/js/a11ytab.js"></script>
  <script src="/js/profile/profile.js"></script>
  <script src="/js/profile/modal.js"></script>
</html>
